html, body {
    margin: 0px;
}

html, body, main {
    height: 100%;
}

body {
    background-image: url("img/s1200.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main {
  position: relative;
}

.form-container {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -225px;
    height: 250px;
    width: 450px;
    background-color: rgb(18, 14, 47);
    border-radius: 10px;
    font-size: 25px;
    color: white;
    border: 5px solid white;
}

.login-form {
    width: 65%;
    /* margin-top:10px; */
    margin: 10px auto 0 auto;
}


.form-group {
    margin-bottom: 10px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    height: 30px;
}

.form-control input[type=text], .form-control input[type=password], .form-control input[type=submit] {
    box-sizing: border-box;   
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    padding: 5px 10px;
}

.btn {
    background-color: wheat;
    font-weight: bold;
}